[data-showmore] {
}
[data-showmore-content] {
}
[data-showmore-button] {
  span {
    &:last-child {
      display: none;
    }
    ._showmore-active & {
      display: none;
      &:last-child {
        display: block;
      }
    }
  }
}

//========================================================================================================================================================

.showmore {
  &__content {
    color: #000;
    // @include adaptiveValue("font-size", 22, 18);
    font-size: toRem(18);
    font-style: normal;
    font-weight: 400;
    line-height: 136.4%; /* 30/22 */

    @include adaptiveValue("margin-bottom", 20, 15);

    p {
      &:not(:last-child) {
        @include adaptiveValue("margin-bottom", 20, 15);
      }
    }
  }

  &__more {
    position: relative;
    display: inline-block;

    color: #000;
    @include adaptiveValue("font-size", 25, 18);
    line-height: 120%; /* 30/25 */

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: toRem(1);
      bottom: 0;
      left: 0;
      background-color: #000;
    }
  }
}
