// Базові стилі спойлерів
// Сніппет (HTML): spoller

// Блок зі спойлерами
.spollers {
  display: grid;
  //   column-gap: toRem(20);
  //   row-gap: toRem(10);

  counter-reset: spollers;

  &_dark {
    .spollers__item {
      border-color: #2b2b2b;
    }
    .spollers__title {
      color: #2b2b2b;
    }
    .spollers__body {
      color: #000;
    }
  }
}
// Спойлер
.spollers__item {
  font-size: toRem(20);
  border-bottom: 1px solid #858585;
}
// Заголовок спойлера
.spollers__title {
  width: 100%;
  cursor: default;
  text-align: left;

  padding: toRem(30) toRem(33);
  position: relative;
  list-style: none;

  color: #fff;
  @include adaptiveValue("font-size", 20, 18);
  font-weight: 700;
  line-height: 22px; /* 100% */

  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: toRem(10);

  @media (max-width: $mobile) {
    padding: toRem(20) toRem(10);
  }

  &::marker {
  }
  ._spoller-init & {
    cursor: pointer;

    &::after {
      content: counter(spollers, decimal-leading-zero) ".";
      counter-increment: spollers;
      color: #858585;
      transition: all 0.3s ease 0s;
    }
  }
  &._spoller-active::after {
    color: #fe0000;
  }
}
// Контент спойлера
.spollers__body {
  padding: toRem(20) toRem(33);

  color: #b0b0b0;
  @include adaptiveValue("font-size", 19, 16);
  line-height: 136.8%; /* 26/19 */

  @media (max-width: $mobile) {
    padding: toRem(10);
  }
}
