//<BUTTONS (a.btn+tab)>
// Сніппет (HTML): btn

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0px toRem(20);

  @include adaptiveValue("height", 64, 48);
  border-radius: 50px;
  background: #fe0000;
  box-shadow: 0px 1px 17px 0px rgba(254, 0, 0, 0.35);

  color: #fff;
  font-family: Helvetica;
  @include adaptiveValue("font-size", 22, 18);
  font-weight: 400;
  line-height: 100%; /* 22/22 */

  transition: all 0.3s ease 0s;
  @media (any-hover: hover) {
    &:hover {
      background: #000;
      box-shadow: 0px 1px 17px 0px rgba(0, 0, 0, 0.35);
    }
  }
  &--fw {
    width: 100%;
  }

  &_dark {
    background: #000;
    box-shadow: none;

    @media (any-hover: hover) {
      &:hover {
        background: #fe0000;
        box-shadow: 0px 1px 17px 0px rgba(0, 0, 0, 0.35);
      }
    }
  }
}
