//<INPUT>
// Сніппет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.input {
  border-radius: toRem(10);
  width: 100%;
  display: block;
  padding: 0px toRem(25);
  border: 1px solid #dadada;
  background-color: #dadada;
  @include adaptiveValue("height", 64, 48);

  color: #686868;
  // font-family: Helvetica;
  @include adaptiveValue("font-size", 19, 18);
  font-weight: 400;

  &._form-focus {
  }
  &._form-error {
  }

  &::placeholder {
    color: #686868;
  }
  &:focus {
    border-color: #000;
    outline: none;
  }

  &_dark {
    background-color: #2b2b2b;
    border-color: #2b2b2b;

    &:focus {
      border-color: #fff;
      outline: none;
      color: #fff;
    }
  }

  &_white {
    border-color: #fff;
    background-color: #fff;
    color: #686868;
  }
}
.input[placeholder]:not([data-placeholder-nohiden]) {
  &::placeholder {
    transition: opacity 0.3s;
  }
  &:focus::placeholder {
    opacity: 0;
  }
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}
