// Заголовки, загальні БЕМ блоки та інше...

//========================================================================================================================================================

.text-bg {
  background-image: url("@img/bg-text.png");
  background-repeat: repeat-y;
  background-size: 100%;
  z-index: 1;
}

//========================================================================================================================================================

.decor {
  &__item {
    position: absolute;
    z-index: 2;
    pointer-events: none;

    &_1 {
      width: percent(331, 1920);
      top: percent(34, 1080);
      left: percent(40, 1920);
    }

    &_2 {
      width: percent(406, 1920);
      top: percent(75, 1080);
      right: percent(224, 1920);
    }

    &_3 {
      width: percent(315, 1920);
      top: percent(595, 1080);
      left: percent(135, 1920);
    }

    &_4 {
      width: percent(366, 1920);
      bottom: percent(-97, 1080);
      left: percent(650, 1920);
    }

    &_5 {
      width: percent(377, 1920);
      right: percent(95, 1920);
      bottom: percent(140, 1080);
    }

    &_6 {
      width: percent(310, 1920);
      top: percent(235, 1080);
      left: percent(-107, 1920);
    }

    &_7 {
      width: percent(271, 1920);
      bottom: percent(158, 1080);
      right: percent(-90, 1920);
    }

    &_8 {
      width: percent(317, 1920);
      bottom: percent(-135, 1080);
      left: percent(-161, 1920);
    }

    img {
      max-width: 100%;
    }

    @media (max-width: $mobile) {
      //   width: 20%;
      //   opacity: 0.7;
    }
  }
}

//========================================================================================================================================================

.title {
  color: #000;
  text-align: center;
  font-family: Helvetica;
  @include adaptiveValue("font-size", 55, 35);
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 100% */
  text-transform: uppercase;
  &_white {
    color: #fff;
  }
}

//========================================================================================================================================================
//========================================================================================================================================================
//========================================================================================================================================================

// .fancybox__container {
//     max-width: none;
// }

//========================================================================================================================================================
