// Заголовки, загальні БЕМ блоки та інше...

//========================================================================================================================================================

.text-bg {
  background-image: url("@img/bg-text.png");
  background-repeat: repeat-y;
  background-size: 100%;
  z-index: 1;
}

//========================================================================================================================================================

.decor {
  &__item {
    position: absolute;
    z-index: 2;
    pointer-events: none;

    &_1 {
      width: percent(331, 1920);
      top: percent(34, 1080);
      left: percent(40, 1920);

      @media (max-width: em(660)) {
        width: 25%;
      }
    }

    &_2 {
      width: percent(406, 1920);
      top: percent(75, 1080);
      right: percent(224, 1920);

      @media (max-width: em(660)) {
        width: 30%;
      }
    }

    &_3 {
      width: percent(315, 1920);
      top: percent(595, 1080);
      left: percent(135, 1920);

      @media (max-width: $mobile) {
        display: none;
      }
    }

    &_4 {
      width: percent(366, 1920);
      bottom: percent(-97, 1080);
      left: percent(650, 1920);

      @media (max-width: $mobile) {
        display: none;
      }
    }

    &_5 {
      width: percent(377, 1920);
      right: percent(95, 1920);
      bottom: percent(140, 1080);

      @media (max-width: $mobile) {
        display: none;
      }
    }

    &_6 {
      width: percent(401, 1920);
      left: percent(68, 1920);
      top: percent(217, 675);
    }

    &_7 {
      width: percent(375, 1920);
      top: percent(-25, 675);
      right: percent(120, 1920);
    }

    &_8 {
      width: percent(364, 1920);
      top: percent(0, 1405);
      right: percent(215, 1920);
    }

    &_9 {
      width: percent(315, 1920);
      top: percent(697, 1405);
      right: percent(27, 1920);
    }

    &_10 {
      width: percent(490, 1920);
      bottom: percent(-275, 1405);
      right: percent(73, 1920);
    }

    img {
      max-width: 100%;
    }

    @media (max-width: $mobile) {
      //   width: 20%;
      //   opacity: 0.7;
    }
  }
}

//========================================================================================================================================================

.title {
  color: #000;
  text-align: center;
  font-family: Helvetica;
  @include adaptiveValue("font-size", 55, 35);
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 100% */
  text-transform: uppercase;
  &_white {
    color: #fff;
  }
}

//========================================================================================================================================================

.link {
  color: #fff;
  font-family: Helvetica;
  @include adaptiveValue("font-size", 19, 18);
  font-weight: 700;
  line-height: 136.8%; /* 26/19 */

  display: inline-flex;
  align-items: center;
  column-gap: toRem(13);

  @media (any-hover: hover) {
    &:hover {
      &::after {
        @include adaptiveValue("width", 90, 50);
      }
    }
  }

  &::after {
    content: "";
    @include adaptiveValue("width", 67, 35);
    height: 2px;
    display: inline-block;
    background-color: #fff;
    transition: all 0.3s ease 0s;
  }
}

//========================================================================================================================================================

.bottom {
  display: grid;
  @include adaptiveValue("gap", 120, 45);
  @include adaptiveValue("padding-top", 90, 35);
  @include adaptiveValue("padding-bottom", 100, 35);
}

//========================================================================================================================================================

// .fancybox__container {
//     max-width: none;
// }

//========================================================================================================================================================
