// Заголовки, загальні БЕМ блоки та інше...

//========================================================================================================================================================

.text-bg {
  background-image: url("@img/bg-text.png");
  background-repeat: repeat-y;
  background-size: 100%;
  z-index: 1;
}

//========================================================================================================================================================

.decor {
  &__item {
    position: absolute;
    z-index: 2;
    pointer-events: none;

    img {
      .loaded & {
        transition:
          transform 0.8s ease 0s,
          opacity 0.8s ease 0s;
        transform: translate(0, 0) rotate(0);
        opacity: 1;
      }
    }

    &_1 {
      width: percent(331, 1920);
      top: percent(34, 1080);
      left: percent(40, 1920);

      @media (max-width: em(1550)) {
        // width: 25%;
        width: toRem(180);
        // top: toRem(10);
        // left: toRem(15);
        top: toRem(10);
        left: toRem(-40);

        img {
          transform: rotate(70deg);
        }
      }

      @media (max-width: em(660)) {
        // width: 25%;
      }

      img {
        transform: translate(-300px, -400px) rotate(-65deg);
        opacity: 0;
      }
    }

    &_2 {
      width: percent(375, 1920);
      top: percent(21, 1080);
      right: percent(144, 1920);

      @media (max-width: $mobile) {
        width: toRem(200);
        top: toRem(5);
        right: toRem(-80);
        // img {
        //   transform: rotate(80deg);
        // }
      }

      @media (max-width: em(660)) {
        // width: 30%;
      }

      img {
        transform: translate(100px, -200px) rotate(55deg);
        opacity: 0;
      }
    }

    &_3 {
      width: percent(245, 1920);
      top: percent(555, 1080);
      left: percent(111, 1920);

      @media (max-width: $mobile) {
        display: none;
      }

      img {
        transform: translate(-50px, -20px) rotate(-15deg);
        opacity: 0;
      }
    }

    &_4 {
      width: percent(310, 1920);
      bottom: percent(-150, 1080);
      left: percent(618, 1920);

      @media (max-width: $mobile) {
        display: none;
      }

      img {
        transform: translate(-50px, 150px) rotate(-15deg);
        opacity: 0;
      }
    }

    &_5 {
      width: percent(330, 1920);
      right: percent(102, 1920);
      bottom: percent(75, 1080);

      @media (max-width: $mobile) {
        display: none;
      }

      img {
        transform: translate(350px, 350px) rotate(-75deg);
        opacity: 0;
      }
    }

    &_6 {
      width: percent(310, 1920);
      left: percent(30, 1920);
      // top: percent(217, 675);
      bottom: toRem(-5);

      @media (max-width: $tablet) {
        bottom: toRem(25);
        right: percent(68, 1920);
        left: auto;
      }
    }

    &_7 {
      width: percent(415, 1920);
      top: percent(-5, 675);
      right: percent(0, 1920);
    }

    &_8 {
      width: percent(422, 1920);
      top: percent(-3, 1643);
      right: percent(505, 1920);

      @media (max-width: $mobile) {
        display: none;
      }
    }

    &_9 {
      width: percent(252, 1920);
      top: percent(665, 1643);
      right: percent(90, 1920);
    }

    &_10 {
      width: percent(537, 1920);
      bottom: percent(-305, 1643);
      right: percent(37, 1920);

      @media (max-width: $mobile) {
        display: none;
      }
    }

    &_11 {
      width: percent(433, 1920);
      top: percent(408, 1643);
      right: percent(62, 1920);

      @media (max-width: $mobile) {
        display: none;
      }
    }

    img {
      max-width: 100%;
    }

    @media (max-width: $mobile) {
      //   width: 20%;
      //   opacity: 0.7;
    }
  }
}

//========================================================================================================================================================

.title {
  color: #000;
  // text-align: center;
  font-family: Benzin;
  @include adaptiveValue("font-size", 55, 35);
  font-style: normal;
  font-weight: 400;
  line-height: 129.1%; /* 71/55 */
  text-transform: uppercase;
  &_white {
    color: #fff;
  }
}

//========================================================================================================================================================

.link {
  color: #fff;
  font-family: Helvetica;
  @include adaptiveValue("font-size", 19, 18);
  font-weight: 700;
  line-height: 136.8%; /* 26/19 */

  display: inline-flex;
  align-items: center;
  column-gap: toRem(13);

  @media (any-hover: hover) {
    &:hover {
      &::after {
        @include adaptiveValue("width", 90, 50);
      }
    }
  }

  &::after {
    content: "";
    @include adaptiveValue("width", 67, 35);
    height: 2px;
    display: inline-block;
    background-color: #fff;
    transition: all 0.3s ease 0s;
  }
}

//========================================================================================================================================================

.bottom {
  display: grid;
  @include adaptiveValue("gap", 120, 45);
  @include adaptiveValue("padding-top", 90, 35);
  @include adaptiveValue("padding-bottom", 100, 35);
}

//========================================================================================================================================================

// .fancybox__container {
//     max-width: none;
// }

//========================================================================================================================================================

[data-watch] {
  .watcher & {
    transform: translateY(toRem(100));
    opacity: 0;
    transition: all 0.8s ease 0s;

    &._watcher-view {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
