//====================================================================================================

.hero {
  position: relative;
  &__container {
  }

  &__body {
    position: relative;
    @include adaptiveValue("padding-top", 120, 80);
    @include adaptiveValue("padding-bottom", 120, 40);

    min-height: toRem(1080);

    @media (max-width: $tablet) {
      min-height: calc(100svh - var(--header-height));

      display: flex;
      flex-direction: column;

      text-align: center;
      @include adaptiveValue("padding-top", 200, 170, 0, 991, 375);
    }

    & > * {
      position: relative;
      z-index: 3;
    }
  }

  &__title {
    @include adaptiveValue("font-size", 120, 45);
    line-height: 108.3%; /* 130/120 */
    font-weight: 700;
    text-transform: uppercase;

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 50, 20);
    }
  }

  &__text {
    @include adaptiveValue("font-size", 25, 18);
    line-height: 120%; /* 30/25 */

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 55, 30);

      @media (max-width: $mobile) {
        margin-bottom: toRem(120);
      }
    }
  }

  &__buttons {
    display: flex;
    @include adaptiveValue("gap", 20, 15);

    @media (max-width: $tablet) {
      justify-content: center;
    }
    @media (max-width: $mobile) {
      flex-direction: column;
      // margin-top: auto;
      align-items: center;
    }
  }

  &__button {
    @include adaptiveValue("font-size", 22, 18);
    @media (min-width: $tablet) {
      min-width: toRem(360);
    }
    @media (max-width: $mobile) {
      width: 80%;
    }
  }

  &__shadow {
    position: absolute;
    bottom: toRem(210);
    right: toRem(146);
    z-index: 1;

    width: percent(213, 1180);

    @media (max-width: $tablet) {
      bottom: toRem(0);
      right: toRem(15);
      width: percent(180, 1180);
    }

    img {
      max-width: 100%;
    }
  }

  &__decor {
    @media (max-width: $tablet) {
      opacity: 0.9;
    }
  }
}

//====================================================================================================

.doing {
  position: relative;
  @include adaptiveValue("padding-top", 80, 35);
  @include adaptiveValue("padding-bottom", 175, 40);
  &__container {
    position: relative;
    z-index: 3;
  }

  &__title {
    @include adaptiveValue("margin-bottom", 95, 35);
  }

  &__items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    @include adaptiveValue("column-gap", 30, 15);
    @include adaptiveValue("row-gap", 78, 20);
  }

  &__item {
    flex: 1 0 calc(33.3333% - toRem(30));
    flex: 1 0 toRem(325);

    max-width: toRem(325);
  }

  &__bg-ibg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
  }
}

.item-doing {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
  &__ico {
    @media (min-width: $mobile) {
      flex: 0 0 toRem(68);
    }
    @media (max-width: $mobile) {
      flex: 0 0 toRem(50);
      max-width: toRem(50);
    }

    img {
      max-width: 100%;
    }

    &:not(:last-child) {
      margin-bottom: toRem(15);
    }
  }

  &__title {
    color: #fff;
    @include adaptiveValue("font-size", 24, 22);
    line-height: 104.2%; /* 25/24 */
    &:not(:last-child) {
      margin-bottom: toRem(11);
    }
  }

  &__text {
    color: #858585;
    @include adaptiveValue("font-size", 22, 18);
    line-height: 131.8%; /* 29/22 */
  }
}

//========================================================================================================================================================

.numbers-block {
  position: relative;
  @include adaptiveValue("padding-top", 100, 35);
  @include adaptiveValue("padding-bottom", 235, 50);
  &__container {
    & > * {
      position: relative;
      z-index: 3;
    }
  }

  &__title {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 70, 40);
    }

    @media (max-width: $mobile) {
      text-align: start;
    }
  }

  &__decor {
  }
}

.numbers {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(toRem(345), 1fr));
  @include adaptiveValue("gap", 30, 15);

  @media (max-width: $mobile) {
    grid-template-columns: 1fr;
  }
  &__item {
  }
}
.item-numbers {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include adaptiveValue("gap", 17, 5);
  text-align: center;

  @media (max-width: $mobile) {
    text-align: start;
    align-items: flex-start;
  }

  &__num {
    color: #fe0000;
    @include adaptiveValue("font-size", 120, 55);
    font-weight: 700;
    line-height: 116.7%; /* 140/120 */
    span {
      text-transform: uppercase;
    }
  }

  &__text {
    // @include adaptiveValue("font-size", 25, 22);
    font-size: toRem(25);
    line-height: 120%; /* 30/25 */

    @media (max-width: $mobile) {
      max-width: toRem(300);
    }
  }
}

//========================================================================================================================================================

.portfolio {
  position: relative;
  @include adaptiveValue("padding-top", 95, 35);
  @include adaptiveValue("padding-bottom", 150, 40);
  &__container {
    position: relative;
    z-index: 2;
  }

  &__top {
    display: flex;
    justify-content: center;
    align-items: center;
    @include adaptiveValue("gap", 28, 15);
    @media (max-width: $mobile) {
      flex-direction: column;
      gap: toRem(50);
    }

    @include adaptiveValue("margin-bottom", 25, 10);
  }

  &__title {
  }

  &__text {
    text-align: center;
    color: #fff;
    @include adaptiveValue("font-size", 22, 16);
    line-height: 136.4%; /* 30/22 */
  }

  &__items {
    @include adaptiveValue("margin-top", 55, 30);
  }

  &__wrapper {
    -webkit-transition-timing-function: linear !important;
    transition-timing-function: linear !important;

    @media (min-width: $mobile) {
      &.swiper-wrapper {
        display: grid;
        @include adaptiveValue("column-gap", 50, 15);
        @include adaptiveValue("row-gap", 38, 20);
        grid-template-columns: repeat(5, 1fr);
        grid-template-columns: repeat(auto-fill, minmax(toRem(160), 1fr));
      }
    }
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: 100%;
    }
  }

  &__bg-ibg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }
}

//========================================================================================================================================================

.facts {
  @include adaptiveValue("padding-top", 85, 35);
  @include adaptiveValue("padding-bottom", 95, 40);
  &__container {
  }

  &__title {
    @include adaptiveValue("margin-bottom", 70, 35);

    @media (max-width: $mobile) {
      text-align: start;
    }
  }

  &__numbers {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 135, 50);
    }
  }

  &__team {
  }
}
.team {
  &__title {
    @include adaptiveValue("margin-bottom", 70, 35);
    text-align: start;
  }

  &__items {
    display: grid;
    column-gap: toRem(20);
    row-gap: toRem(25);

    grid-template-columns: repeat(2, 1fr);
    @media (max-width: $mobile) {
      gap: toRem(0);
    }
  }

  &__item {
  }
}
.item-team {
  position: relative;

  &:hover {
    .item-team__content {
      opacity: 1;
    }
  }

  &__image-ibg {
    padding-bottom: percent(556, 580);
  }

  &__content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    color: #fff;
    text-align: center;
    text-transform: uppercase;
    @include adaptiveValue("font-size", 24, 20);

    line-height: 120%;

    @include adaptiveValue("padding-left", 130, 50);
    @include adaptiveValue("padding-right", 130, 50);

    transition: all 0.3s ease 0s;
    opacity: 0;
    user-select: none;

    @media (max-width: $mobile) {
      @include adaptiveValue("font-size", 24, 15, 0, 767, 375);
      padding-left: toRem(15);
      padding-right: toRem(15);
    }
  }

  &__place {
    font-weight: 800;
    @include adaptiveValue("margin-bottom", 30, 20);

    @media (max-width: $mobile) {
      @include adaptiveValue("margin-bottom", 30, 10, 0, 767, 375);
    }
  }

  &__name {
    font-weight: 300;
  }
}

//========================================================================================================================================================

.process {
  position: relative;
  @include adaptiveValue("padding-top", 105, 35);
  @include adaptiveValue("padding-bottom", 125, 40);
  &__container {
    position: relative;

    & > * {
      position: relative;
      z-index: 3;
    }
  }

  &__title {
    text-align: start;
    @include adaptiveValue("margin-bottom", 20, 35);
  }

  &__body {
    display: flex;
    @include adaptiveValue("column-gap", 70, 20, 0, 1210, 991);
  }

  &__image {
    flex: 0 0 toRem(290);
    padding-top: toRem(90);

    img {
      max-width: 100%;
    }

    @media (max-width: $tablet) {
      display: none;
    }
  }

  &__items {
    width: 100%;
  }

  &__item {
    position: relative;
    color: #fff;
    font-family: Helvetica;
    @include adaptiveValue("font-size", 25, 18, 0, 1210, 991);
    font-weight: 300;
    line-height: 120%; /* 30/25 */

    @media (min-width: $mobile) {
      &:nth-child(odd) {
        padding-left: 50%;
      }
      &:nth-child(even) {
        padding-right: 50%;
      }
    }
    @media (max-width: $mobile) {
      padding-left: toRem(40);
    }

    &:last-child {
      &::after {
        display: none;
      }
    }

    &:not(:last-child) {
      // @include adaptiveValue("padding-bottom", 50, 25);
      padding-bottom: toRem(50);
    }

    &::before {
      content: "";
      width: toRem(27);
      height: toRem(27);
      background-color: #fe0000;
      border-radius: 50%;
      display: block;
      position: absolute;
      left: calc(50% - toRem(27));
      transform: translateX(-50%);

      @media (max-width: $mobile) {
        left: toRem(15);
        width: toRem(20);
        height: toRem(20);
      }
    }
    &::after {
      content: "";
      width: toRem(3);
      height: 100%;
      background-color: #fe0000;
      display: block;
      position: absolute;
      left: calc(50% - toRem(27));
      top: 0;
      transform: translateX(-50%);

      @media (max-width: $mobile) {
        left: toRem(15);
      }
    }
  }

  &__item-text {
    max-width: toRem(350);

    @media (max-width: $pc) {
      max-width: calc(100% - toRem(50));
    }
  }

  &__decor {
  }

  &__bg-ibg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }
}

//========================================================================================================================================================

.contacts {
  @include adaptiveValue("padding-top", 120, 35);
  @include adaptiveValue("padding-bottom", 60, 40);

  background-repeat: no-repeat;

  &__container {
    display: grid;
    @include adaptiveValue("gap", 70, 45);
    & > * {
      position: relative;
      z-index: 3;
    }
  }

  &__body {
    display: flex;
    justify-content: space-between;
    @include adaptiveValue("gap", 30, 20);

    @media (max-width: $mobile) {
      flex-direction: column;
    }
  }

  &__content {
  }

  &__title {
    margin-bottom: toRem(20);
    text-align: start;
  }

  &__subtitle {
    @include adaptiveValue("font-size", 25, 20);
    line-height: 120%; /* 30/25 */

    @include adaptiveValue("margin-bottom", 120, 35);
  }

  &__line {
    display: flex;
    @include adaptiveValue("gap", 17, 10);

    &::before {
      @include adaptiveValue("font-size", 39, 25);
    }
  }

  &__line-body {
    display: grid;
    @include adaptiveValue("gap", 30, 20);

    @include adaptiveValue("font-size", 22, 17);
    line-height: 136.4%; /* 30/22 */
  }

  &__line-text {
    max-width: toRem(500);
  }

  &__line-title {
    font-weight: 700;
  }

  &__map {
    display: block;
    position: relative;
    padding-bottom: percent(415, 1180);

    @media (min-width: $mobile) {
      flex: 0 0 percent(488, 1180);
    }
    @media (max-width: $mobile) {
      padding-bottom: percent(220, 345);
    }

    iframe,
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    img {
      object-fit: cover;
    }
  }

  &__submit {
  }

  &__readmore {
  }
}

.submit {
  &__title {
    text-align: start;
    @include adaptiveValue("margin-bottom", 45, 30);
  }

  &__form {
  }
}
.form-submit {
  display: flex;
  flex-direction: column;

  &__inputs {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(toRem(390), 1fr));
    @include adaptiveValue("gap", 20, 15);
    @media (max-width: $mobile) {
      grid-template-columns: 1fr;
    }
  }

  &__input {
  }

  &__button {
    margin-left: auto;
    min-width: toRem(245);

    @include adaptiveValue("margin-top", 37, 20);

    @media (max-width: $mobile) {
      width: 100%;
    }
  }
}

//========================================================================================================================================================

section.readmore {
  @include adaptiveValue("padding-top", 60, 35);
  @include adaptiveValue("padding-bottom", 100, 40);
}
.readmore {
  &__title {
    max-width: toRem(753);
    @include adaptiveValue("margin-bottom", 57, 30);
    text-align: start;
  }

  &__body {
    display: flex;
    @include adaptiveValue("gap", 36, 15, 0, 1210, 767);

    @media (max-width: $mobile) {
      flex-direction: column;
    }
  }

  &__image-ibg {
    flex: 0 0 percent(580, 1180);
    padding-bottom: percent(453, 1180);
    height: fit-content;

    @media (max-width: $mobile) {
      padding-bottom: percent(220, 345);
    }
  }

  &__showmore {
  }
}
