.products {
  position: relative;
  @include adaptiveValue("padding-top", 90, 35);
  @include adaptiveValue("padding-bottom", 150, 45);

  &__container {
    position: relative;
    z-index: 2;
  }

  &__title {
    text-align: start;
    @include adaptiveValue("margin-bottom", 60, 35);
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(toRem(345), 1fr));
    @include adaptiveValue("gap", 20, 15);
  }

  &__item {
  }

  &__bg-ibg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }
}

.item-products {
  position: relative;

  @media (any-hover: hover) {
    &:hover {
      .item-products__contents {
        background-color: rgba(254, 0, 0, 0.74);
      }
    }
  }

  &__image-ibg {
    display: block;
    padding-bottom: percent(403, 380);
  }

  &__contents {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: toRem(30) toRem(30) toRem(40);

    @media (max-width: $mobile) {
      padding: toRem(20) toRem(15) toRem(30);
    }

    pointer-events: none;
    transition: all 0.3s ease 0s;
  }

  &__title {
    color: #fff;
    @include adaptiveValue("font-size", 22, 20);
    font-weight: 700;
    line-height: 120%; /* 100% */
  }

  &__link {
  }
}

//========================================================================================================================================================

.product {
  display: grid;
  @include adaptiveValue("gap", 130, 45);
  padding-top: toRem(35);
  @include adaptiveValue("padding-bottom", 200, 45);

  background-position-y: toRem(60);
  &__body {
    display: flex;
    justify-content: space-between;
    column-gap: toRem(20);
    row-gap: toRem(20);

    @media (max-width: $mobile) {
      flex-direction: column;
    }
  }

  &__image {
    position: relative;

    @media (min-width: $pc) {
      flex-grow: 0;
    }

    @media (min-width: $mobile) {
      height: fit-content;
      flex: 0 0 percent(480, 1180);
      padding-bottom: percent(577, 1180);
      flex-grow: 1;
    }

    img {
      @media (min-width: $mobile) {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: contain;
      }
      @media (max-width: $mobile) {
        max-width: 100%;
      }
    }
  }

  &__content {
    flex: 0 0 percent(580, 1180);
  }

  &__title {
    color: #000;
    @include adaptiveValue("font-size", 40, 25);
    font-weight: 700;
    line-height: 137.5%; /* 55/40 */
    text-transform: uppercase;

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 30, 20);
    }
  }

  &__text {
    color: #686868;
    @include adaptiveValue("font-size", 20, 18);
    line-height: 110%; /* 22/20 */

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 50, 30);
    }
  }

  &__button {
    min-width: toRem(332);

    @media (max-width: $mobile) {
      width: 100%;
    }
  }
}
