.screen {
  &__container {
    @include adaptiveValue("padding-top", 100, 80);
    @include adaptiveValue("padding-bottom", 95, 60);

    @media (max-width: $tablet) {
      // min-height: calc(75svh - var(--header-height));
    }
  }

  &__body {
  }

  &__content {
    @media (max-width: $tablet) {
      flex: 1 1 100%;
      display: flex;
      flex-direction: column;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    column-gap: toRem(10);

    font-family: Benzin;
    @include adaptiveValue("font-size", 90, 30);
    font-weight: 700;
    line-height: 130%; /* 117/90 */
    text-transform: uppercase;
    // @include adaptiveValue("margin-bottom", 30, 20);
    margin-bottom: toRem(10);
  }

  &__text {
    max-width: toRem(720);
    @include adaptiveValue("font-size", 25, 18);
    font-weight: 400;
    line-height: 110%; /* 22/20 */

    @include adaptiveValue("margin-bottom", 60, 30);
  }

  &__buttons {
    display: flex;
    gap: toRem(15);

    @media (max-width: $mobile) {
      flex-direction: column;
    }
    @media (max-width: $tablet) {
      margin-top: auto;
    }
  }

  &__button {
    @include adaptiveValue("font-size", 25, 18);
    border-radius: 0;
    padding: 0px toRem(40);
    font-weight: 400;
    @media (min-width: $mobile) {
      min-width: toRem(222);
    }
    @media (max-width: $mobile) {
      width: 100%;
    }

    &.button_dark {
      background-color: transparent;
      color: #000;
      border: 1px solid #000;

      @media (any-hover: hover) {
        &:hover {
          background-color: #000;
          color: #fff;
        }
      }
    }
  }
}

//========================================================================================================================================================

.websites {
  position: relative;
  @include adaptiveValue("padding-top", 100, 35);
  @include adaptiveValue("padding-bottom", 100, 35);
  &__container {
    position: relative;
    z-index: 2;
  }

  &__title {
    max-width: toRem(830);

    @include adaptiveValue("margin-bottom", 60, 35);
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(toRem(345), 1fr));
    @include adaptiveValue("gap", 20, 15);
  }

  &__item {
  }

  &__bg-ibg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }
}

.item-websites {
  position: relative;
  background-color: #1b1b1e;
  color: #858585;
  padding: toRem(30) toRem(30) toRem(40);

  display: flex;
  flex-direction: column;
  transition: all 0.3s ease 0s;

  @media (max-width: $mobile) {
    padding: toRem(20) toRem(25) toRem(30) toRem(15);
  }

  @media (any-hover: hover) {
    &:hover {
      color: #fff;
      background-color: #fe0000;
    }
  }

  &::after {
    content: "";
    background-image: url("@img/websites/shadow.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;

    width: toRem(75);
    height: toRem(177);
    @include adaptiveValue("width", 75, 40);
    @include adaptiveValue("height", 177, 145);

    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0;
  }

  & > * {
    position: relative;
    z-index: 2;
  }

  &__title {
    color: #fff;
    @include adaptiveValue("font-size", 22, 20);
    font-weight: 700;
    line-height: 100%; /* 100% */

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 35, 15);
    }
  }

  &__text {
    @include adaptiveValue("font-size", 19, 18);
    line-height: 136.8%; /* 26/19 */

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 45, 20);
    }
  }

  &__link {
    margin-top: auto;
  }
}

//========================================================================================================================================================

.task {
  position: relative;
  @include adaptiveValue("padding-top", 100, 35);
  @include adaptiveValue("padding-bottom", 100, 35);
  &__container {
    position: relative;
    z-index: 2;
  }

  &__body {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(toRem(345), 1fr));
    @include adaptiveValue("gap", 20, 15);

    @media (max-width: $mobile) {
      grid-template-columns: 1fr;
    }
  }

  &__maintitle {
    @include adaptiveValue("margin-bottom", 60, 35);
  }

  &__item {
  }

  &__title {
    margin-bottom: toRem(20);
    text-align: start;
    // max-width: toRem(600);
  }

  &__text {
    color: #686868;
    @include adaptiveValue("font-size", 20, 18);
    line-height: 110%; /* 22/20 */

    max-width: toRem(526);
  }

  &__bg-ibg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }
}
.item-task {
  background-color: #1b1b1e;

  padding: toRem(22) toRem(30) toRem(50);

  display: flex;
  flex-direction: column;
  @include adaptiveValue("gap", 60, 20);

  @media (max-width: $mobile) {
    padding: toRem(20) toRem(15) toRem(30);
  }

  &_big {
    @media (min-width: $mobile) {
      grid-column: span 2;
    }
    @media (max-width: $mobile) {
      padding: 0;
    }
    background-color: transparent;
    gap: 0;
    padding: 0 0 0 0;
  }

  &__top {
    display: flex;
    align-items: center;

    @include adaptiveValue("gap", 25, 15);
  }

  &__ico {
    @include adaptiveValue("width", 68, 45);
    @include adaptiveValue("height", 68, 45);
    background-color: #fe0000;
    border-radius: 50%;
    flex-shrink: 0;
    padding: toRem(10);

    display: flex;
    justify-content: center;
    align-items: center;
    img {
      max-width: 100%;
    }
  }

  &__title {
    color: #fff;
    @include adaptiveValue("font-size", 24, 22);
    font-weight: 700;
    line-height: 104.2%; /* 25/24 */
  }

  &__text {
    color: #858585;
    @include adaptiveValue("font-size", 19, 18);
    line-height: 136.8%; /* 26/19 */

    flex: 1 1 auto;
    margin-top: auto;
  }
}

//========================================================================================================================================================

section.say {
  @include adaptiveValue("padding-top", 100, 35);
  @include adaptiveValue("padding-bottom", 100, 45);
}
.say {
  position: relative;

  &__container {
    position: relative;
    z-index: 2;
  }

  &__title {
    text-align: start;
    max-width: toRem(744);
    margin-bottom: toRem(20);
  }

  &__body {
    display: flex;
    justify-content: space-between;
    @include adaptiveValue("gap", 30, 20);

    @media (max-width: $mobile) {
      flex-direction: column;
    }
  }

  &__image-ibg {
    padding-bottom: percent(338, 1180);
    height: fit-content;

    @media (max-width: $pc) {
      flex-grow: 1;
      // padding-bottom: percent(240, 345);
    }
    @media (max-width: $mobile) {
      padding-bottom: percent(220, 345);
    }
    @media (min-width: $mobile) {
      flex: 0 0 percent(500, 1180);
    }
  }

  &__form {
  }

  &__content {
    @media (min-width: $mobile) {
      // margin-left: auto;
      flex: 0 0 percent(490, 1180);
    }
  }

  &__bg-ibg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }
}

.form-say {
  &__groop {
    @include adaptiveValue("margin-bottom", 25, 20);
  }

  &__title {
    color: #fff;
    @include adaptiveValue("font-size", 21, 20);
    font-weight: 400;
    line-height: 104.8%; /* 22/21 */

    @include adaptiveValue("margin-bottom", 20, 15);

    &_dark {
      color: #2b2b2b;
    }
  }

  &__input {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 15, 10);
    }
  }

  &__button {
    @include adaptiveValue("margin-top", 15, 10);
    min-width: toRem(245);

    @media (max-width: $mobile) {
      width: 100%;
    }
  }
}

//========================================================================================================================================================

.cases {
  @include adaptiveValue("padding-top", 100, 35);
  @include adaptiveValue("padding-bottom", 100, 35);
  &__container {
    display: grid;
  }

  &__title {
    @include adaptiveValue("margin-bottom", 60, 35);
    text-align: start;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(toRem(345), 1fr));
    @include adaptiveValue("gap", 20, 15);

    // @media (max-width: $mobile) {
    //   grid-template-columns: 1fr;
    // }
  }

  &__item {
  }

  &__button {
    @include adaptiveValue("margin-top", 50, 35);
    margin-left: auto;
    margin-right: auto;

    min-width: toRem(245);
    align-self: center;
  }
}

.item-cases {
  position: relative;
  display: block;

  @media (any-hover: hover) {
    &:hover {
      .item-cases__content {
        opacity: 1;
      }
    }
  }

  &__image-ibg {
    padding-bottom: percent(267, 380);
    position: relative;
    z-index: 1;

    @media (any-hover: hover) {
      &:hover {
        &::before {
          opacity: 1;
        }
      }
    }
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.3);
      z-index: 2;
      opacity: 0;
      transition: all 0.3s ease 0s;
    }
  }
}

//========================================================================================================================================================

.stages {
  position: relative;
  @include adaptiveValue("padding-top", 100, 35);
  @include adaptiveValue("padding-bottom", 100, 35);
  &__container {
    position: relative;
    z-index: 2;
  }

  &__title {
    @include adaptiveValue("margin-bottom", 40, 35);
    text-align: start;
    max-width: toRem(1030);
  }

  &__items {
    counter-reset: num;
    display: flex;
    column-gap: toRem(15);
    justify-content: space-between;

    @media (max-width: $tablet) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: toRem(20);
    }

    @media (max-width: em(660)) {
      grid-template-columns: 1fr;
    }

    position: relative;
    @media (min-width: $tablet) {
      padding-top: toRem(100);

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: toRem(85);
        top: 0;
        left: 0;
        background-image: url("@img/stages/progress.png");
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }

  &__item {
  }

  &__bg-ibg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }
}

.item-stages {
  @media (min-width: em(660)) {
    max-width: toRem(193);
  }
  @media (min-width: $tablet) {
    &:nth-child(even) {
      margin-top: toRem(-20);
    }
    &:last-child {
      margin-top: toRem(-40);
    }
  }

  &::before {
    content: counter(num, decimal-leading-zero);
    counter-increment: num;
    color: #fe0000;
    font-size: toRem(25);
    font-weight: 700;
    display: block;
    margin-bottom: toRem(5);

    @media (min-width: $tablet) {
      display: none;
    }
  }
  &__title {
    color: #fff;
    @include adaptiveValue("font-size", 22, 20);
    font-weight: 700;
    line-height: 136.4%; /* 30/22 */

    margin-bottom: toRem(12);
  }

  &__text {
    color: #b0b0b0;
    @include adaptiveValue("font-size", 19, 18);
    line-height: 120%;
  }
}

//========================================================================================================================================================
.whyus {
  @include adaptiveValue("padding-top", 100, 35);
  @include adaptiveValue("padding-bottom", 100, 35);
  &__container {
  }

  &__title {
    @include adaptiveValue("margin-bottom", 60, 35);
    text-align: start;
  }

  &__items {
    counter-reset: whyus;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(toRem(400), 1fr));
    @include adaptiveValue("gap", 20, 15);

    @media (max-width: $mobile) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
  }
}

.item-whyus {
  padding: toRem(40) toRem(25) toRem(40) toRem(30);
  background: #1b1b1e;
  display: flex;
  gap: toRem(15);

  @media (max-width: $mobile) {
    flex-direction: column;
    padding: toRem(25) toRem(20) toRem(30);
  }
  &::before {
    content: counter(whyus, decimal-leading-zero) ".";
    counter-increment: whyus;

    color: #fe0000;
    @include adaptiveValue("font-size", 65, 40);
    font-weight: 700;
    line-height: 100%; /* 33.846% */

    @media (min-width: $mobile) {
      flex: 0 0 toRem(100);
      @include adaptiveValue("flex-basis", 100, 50);
    }
  }
  &__body {
    @media (min-width: $mobile) {
      padding-top: toRem(20);
    }
  }

  &__title {
    color: #fff;
    @include adaptiveValue("font-size", 22, 20);
    font-weight: 700;
    line-height: 120%; /* 100% */

    @include adaptiveValue("margin-bottom", 30, 15);
  }

  &__text {
    color: #858585;
    @include adaptiveValue("font-size", 19, 18);
    line-height: 136.8%; /* 26/19 */
  }
}

//========================================================================================================================================================

.faq {
  @include adaptiveValue("padding-top", 100, 35);
  @include adaptiveValue("padding-bottom", 100, 35);
  position: relative;
  &__container {
    position: relative;
    z-index: 2;
  }

  &__title {
    @include adaptiveValue("margin-bottom", 60, 35);
    text-align: start;
    max-width: toRem(850);
  }

  &__spollers {
  }

  &__bg-ibg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }
}

//========================================================================================================================================================

.photo {
  @include adaptiveValue("padding-top", 50, 35);
  @include adaptiveValue("padding-bottom", 100, 35);
  &__container {
  }

  &__title {
    @include adaptiveValue("margin-bottom", 60, 35);
  }

  &__images {
    display: grid;
    column-gap: toRem(20);
    row-gap: toRem(15);

    @media (min-width: $mobile) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__image-ibg {
    padding-bottom: percent(440, 580);
  }
}
