.screen {
  &__container {
    padding-top: toRem(35);
    @include adaptiveValue("padding-bottom", 95, 40, 0, 1210, 991);

    @media (max-width: $tablet) {
      min-height: calc(100svh - var(--header-height));
    }
  }

  &__body {
    background: #1b1b1e;
    padding: toRem(22) toRem(12);

    @media (min-width: $tablet) {
      display: flex;
      align-items: center;
      column-gap: toRem(30);
    }
    @media (max-width: $tablet) {
      display: flex;
      flex-direction: column;
      padding: toRem(30) toRem(15);
      min-height: calc(100svh - toRem(55) - var(--header-height));
    }
  }

  &__decor-text {
    white-space: nowrap;
    color: #fe0000;
    font-family: Benzin;
    @include adaptiveValue("font-size", 45, 20);
    font-weight: 700;
    line-height: 133.3%; /* 60/45 */
    text-transform: uppercase;
    user-select: none;
    b {
      color: #fff;
    }

    @media (max-width: $tablet) {
      display: none;
    }
  }

  &__content {
    @media (max-width: $tablet) {
      flex: 1 1 100%;
      display: flex;
      flex-direction: column;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    column-gap: toRem(10);

    color: #fff;
    font-family: Helvetica;
    @include adaptiveValue("font-size", 55, 35);
    font-weight: 700;
    line-height: 100%; /* 34.545% */
    text-transform: uppercase;
    @include adaptiveValue("margin-bottom", 30, 20);

    &::before {
      content: "";
      flex-shrink: 0;
      @include adaptiveValue("width", 60, 45);
      @include adaptiveValue("height", 115, 75);
      background-image: url("@img/screen/shadow.png");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &__text {
    color: #fff2f2;
    font-family: Helvetica;
    @include adaptiveValue("font-size", 20, 16);
    font-weight: 400;
    line-height: 110%; /* 22/20 */

    @include adaptiveValue("margin-bottom", 36, 20);
  }

  &__buttons {
    display: flex;
    gap: toRem(10);

    @media (max-width: $mobile) {
      flex-direction: column;
    }
    @media (max-width: $tablet) {
      margin-top: auto;
    }
  }

  &__button {
    @media (min-width: $mobile) {
      min-width: toRem(222);
    }
    @media (max-width: $mobile) {
      width: 100%;
    }
  }
}

//========================================================================================================================================================

.websites {
  position: relative;
  @include adaptiveValue("padding-top", 90, 35);
  @include adaptiveValue("padding-bottom", 90, 35);
  &__container {
    position: relative;
    z-index: 2;
  }

  &__title {
    max-width: toRem(650);
    text-align: start;

    @include adaptiveValue("margin-bottom", 60, 35);
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(toRem(345), 1fr));
    @include adaptiveValue("gap", 20, 15);
  }

  &__item {
  }

  &__bg-ibg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }
}

.item-websites {
  position: relative;
  background-color: #1b1b1e;
  color: #858585;
  padding: toRem(30) toRem(30) toRem(40);

  display: flex;
  flex-direction: column;
  transition: all 0.3s ease 0s;

  @media (max-width: $mobile) {
    padding: toRem(20) toRem(15) toRem(30);
  }

  @media (any-hover: hover) {
    &:hover {
      color: #fff;
      background-color: #fe0000;
    }
  }

  &::after {
    content: "";
    background-image: url("@img/websites/shadow.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;

    width: toRem(75);
    height: toRem(177);
    @include adaptiveValue("width", 75, 50);
    @include adaptiveValue("height", 177, 145);

    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0;
  }

  & > * {
    position: relative;
    z-index: 2;
  }

  &__title {
    color: #fff;
    @include adaptiveValue("font-size", 22, 20);
    font-weight: 700;
    line-height: 100%; /* 100% */

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 35, 15);
    }
  }

  &__text {
    @include adaptiveValue("font-size", 19, 18);
    line-height: 136.8%; /* 26/19 */

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 45, 20);
    }
  }

  &__link {
    margin-top: auto;
  }
}

//========================================================================================================================================================

.task {
  @include adaptiveValue("padding-top", 90, 35);
  @include adaptiveValue("padding-bottom", 90, 35);
  &__container {
  }

  &__body {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(toRem(345), 1fr));
    @include adaptiveValue("gap", 20, 15);

    @media (max-width: $mobile) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
  }

  &__title {
    @include adaptiveValue("margin-bottom", 30, 25);
    text-align: start;
    max-width: toRem(600);
  }

  &__text {
    color: #686868;
    @include adaptiveValue("font-size", 20, 18);
    line-height: 110%; /* 22/20 */

    max-width: toRem(545);
  }
}
.item-task {
  background-color: #1b1b1e;

  padding: toRem(22) toRem(30) toRem(50);

  display: flex;
  flex-direction: column;
  @include adaptiveValue("gap", 105, 20);

  @media (max-width: $mobile) {
    padding: toRem(20) toRem(15) toRem(30);
  }
  &_big {
    @media (min-width: $mobile) {
      grid-column: span 2;
    }
    @media (max-width: $mobile) {
      padding: 0;
    }
    background-color: transparent;
    gap: 0;
    padding: toRem(45) 0 0;
  }

  &__top {
    display: flex;
    align-items: center;

    @include adaptiveValue("gap", 25, 15);
  }

  &__ico {
    @include adaptiveValue("width", 68, 45);
    @include adaptiveValue("height", 68, 45);
    background-color: #fe0000;
    border-radius: 50%;
    flex-shrink: 0;
    padding: toRem(10);

    display: flex;
    justify-content: center;
    align-items: center;
    img {
      max-width: 100%;
    }
  }

  &__title {
    color: #fff;
    @include adaptiveValue("font-size", 24, 22);
    font-weight: 700;
    line-height: 104.2%; /* 25/24 */
  }

  &__text {
    color: #858585;
    @include adaptiveValue("font-size", 19, 18);
    line-height: 136.8%; /* 26/19 */

    flex: 1 1 auto;
    margin-top: auto;
  }
}

//========================================================================================================================================================

.say {
  position: relative;
  @include adaptiveValue("padding-top", 90, 35);
  @include adaptiveValue("padding-bottom", 200, 45);
  &__container {
    position: relative;
    z-index: 2;
  }

  &__title {
    text-align: start;
    max-width: toRem(744);
    @include adaptiveValue("margin-bottom", 60, 35);
  }

  &__body {
    display: flex;
    justify-content: flex-end;
  }

  &__form {
    width: 100%;
    @media (min-width: $mobile) {
      max-width: toRem(580);
    }
  }

  &__bg-ibg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }
}

.form-say {
  &__groop {
    @include adaptiveValue("margin-bottom", 25, 20);
  }

  &__title {
    color: #fff;
    @include adaptiveValue("font-size", 21, 20);
    font-weight: 700;
    line-height: 104.8%; /* 22/21 */

    @include adaptiveValue("margin-bottom", 25, 15);
  }

  &__input {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 15, 10);
    }
  }

  &__button {
    @include adaptiveValue("margin-top", 15, 10);
    min-width: toRem(245);

    @media (max-width: $mobile) {
      width: 100%;
    }
  }
}

//========================================================================================================================================================

.cases {
  @include adaptiveValue("padding-top", 90, 35);
  @include adaptiveValue("padding-bottom", 90, 35);
  &__container {
    display: grid;
  }

  &__title {
    @include adaptiveValue("margin-bottom", 50, 35);
    text-align: start;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(toRem(345), 1fr));
    @include adaptiveValue("gap", 20, 15);

    // @media (max-width: $mobile) {
    //   grid-template-columns: 1fr;
    // }
  }

  &__item {
  }

  &__button {
    @include adaptiveValue("margin-top", 50, 35);
    margin-left: auto;
    margin-right: auto;

    min-width: toRem(245);
    align-self: center;
  }
}

.item-cases {
  position: relative;
  display: block;

  @media (any-hover: hover) {
    &:hover {
      .item-cases__content {
        opacity: 1;
      }
    }
  }

  &__image-ibg {
    padding-bottom: percent(267, 380);
    position: relative;
    z-index: 1;
  }

  &__content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;

    background: rgba(254, 0, 0, 0.77);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;

    padding: toRem(40) toRem(30);

    transition: all 0.3s ease 0s;
    @media (max-width: $mobile) {
      padding: toRem(20) toRem(15);
    }

    @media (any-hover: none) {
      opacity: 0.7;
      background: rgba(254, 0, 0, 0.35);
    }
  }

  &__logo {
    max-width: toRem(120);
    @include adaptiveValue("margin-top", 40, 20);

    img {
      max-width: 100%;
    }
  }

  &__title {
    align-self: flex-start;
    margin-top: auto;

    color: #fff;
    @include adaptiveValue("font-size", 22, 20);
    font-weight: 700;
    line-height: 136.4%; /* 30/22 */
  }
}

//========================================================================================================================================================

.stages {
  position: relative;
  @include adaptiveValue("padding-top", 90, 35);
  @include adaptiveValue("padding-bottom", 90, 35);
  &__container {
    position: relative;
    z-index: 2;
  }

  &__title {
    @include adaptiveValue("margin-bottom", 50, 35);
    text-align: start;
    max-width: toRem(700);
  }

  &__items {
    counter-reset: num;
    display: flex;
    column-gap: toRem(15);
    justify-content: space-between;

    @media (max-width: $tablet) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: toRem(20);
    }

    @media (max-width: em(660)) {
      grid-template-columns: 1fr;
    }

    position: relative;
    @media (min-width: $tablet) {
      padding-top: toRem(100);

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: toRem(85);
        top: 0;
        left: 0;
        background-image: url("@img/stages/progress.png");
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }

  &__item {
  }

  &__bg-ibg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }
}

.item-stages {
  @media (min-width: em(660)) {
    max-width: toRem(193);
  }
  @media (min-width: $tablet) {
    &:nth-child(even) {
      margin-top: toRem(-20);
    }
  }

  &::before {
    content: counter(num, decimal-leading-zero);
    counter-increment: num;
    color: #fe0000;
    font-size: toRem(25);
    font-weight: 700;
    display: block;
    margin-bottom: toRem(5);
  }
  &__title {
    color: #fff;
    @include adaptiveValue("font-size", 22, 20);
    font-weight: 700;
    line-height: 136.4%; /* 30/22 */

    margin-bottom: toRem(12);
  }

  &__text {
    color: #b0b0b0;
    @include adaptiveValue("font-size", 19, 18);
    line-height: 120%;
  }
}
