.screen {
  &__container {
    padding-top: toRem(35);
    @include adaptiveValue("padding-bottom", 95, 40, 0, 1210, 991);

    @media (max-width: $tablet) {
      min-height: calc(100svh - var(--header-height));
    }
  }

  &__body {
    background: #1b1b1e;
    padding: toRem(22) toRem(12);

    @media (min-width: $tablet) {
      display: flex;
      align-items: center;
      column-gap: toRem(30);
    }
    @media (max-width: $tablet) {
      display: flex;
      flex-direction: column;
      padding: toRem(30) toRem(15);
      min-height: calc(100svh - toRem(55) - var(--header-height));
    }
  }

  &__decor-text {
    white-space: nowrap;
    color: #fe0000;
    font-family: Benzin;
    @include adaptiveValue("font-size", 45, 20);
    font-weight: 700;
    line-height: 133.3%; /* 60/45 */
    text-transform: uppercase;
    user-select: none;
    b {
      color: #fff;
    }

    @media (max-width: $tablet) {
      display: none;
    }
  }

  &__content {
    @media (max-width: $tablet) {
      flex: 1 1 100%;
      display: flex;
      flex-direction: column;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    column-gap: toRem(10);

    color: #fff;
    font-family: Helvetica;
    @include adaptiveValue("font-size", 55, 35);
    font-weight: 700;
    line-height: 100%; /* 34.545% */
    text-transform: uppercase;
    @include adaptiveValue("margin-bottom", 30, 20);

    &::before {
      content: "";
      flex-shrink: 0;
      @include adaptiveValue("width", 60, 45);
      @include adaptiveValue("height", 115, 75);
      background-image: url("@img/screen/shadow.png");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &__text {
    color: #fff2f2;
    font-family: Helvetica;
    @include adaptiveValue("font-size", 20, 16);
    font-weight: 400;
    line-height: 110%; /* 22/20 */

    @include adaptiveValue("margin-bottom", 36, 20);
  }

  &__buttons {
    display: flex;
    gap: toRem(10);

    @media (max-width: $mobile) {
      flex-direction: column;
    }
    @media (max-width: $tablet) {
      margin-top: auto;
    }
  }

  &__button {
    @media (min-width: $mobile) {
      min-width: toRem(222);
    }
    @media (max-width: $mobile) {
      width: 100%;
    }
  }
}

//========================================================================================================================================================

.websites {
  position: relative;
  @include adaptiveValue("padding-top", 90, 35);
  @include adaptiveValue("padding-bottom", 90, 35);
  &__container {
    position: relative;
    z-index: 2;
  }

  &__title {
    max-width: toRem(650);
    text-align: start;

    @include adaptiveValue("margin-bottom", 60, 35);
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(toRem(345), 1fr));
    @include adaptiveValue("gap", 20, 15);
  }

  &__item {
  }

  &__bg-ibg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }
}

.item-websites {
  position: relative;
  background-color: #1b1b1e;
  color: #858585;
  padding: toRem(30) toRem(30) toRem(40);

  display: flex;
  flex-direction: column;
  transition: all 0.3s ease 0s;

  @media (any-hover: hover) {
    &:hover {
      color: #fff;
      background-color: #fe0000;
    }
  }

  &::after {
    content: "";
    background-image: url("@img/websites/shadow.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;

    width: toRem(75);
    height: toRem(177);
    @include adaptiveValue("width", 75, 50);
    @include adaptiveValue("height", 177, 145);

    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0;
  }

  & > * {
    position: relative;
    z-index: 2;
  }

  &__title {
    color: #fff;
    @include adaptiveValue("font-size", 22, 20);
    font-weight: 700;
    line-height: 100%; /* 100% */

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 35, 15);
    }
  }

  &__text {
    @include adaptiveValue("font-size", 19, 18);
    line-height: 136.8%; /* 26/19 */

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 45, 20);
    }
  }

  &__link {
    margin-top: auto;
  }
}
